/* Start Global Style */

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --main-color: #470053;
    --main-trans: 0.3s;
}
a {
    text-decoration: none;
}
li{
    list-style: none;
}
input:focus,
textarea:focus  {
    outline: none;
}
body {
    background-color: #333;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.container{
    padding: 0 15px;
    margin: auto;
    position: relative;
}
/* Start Grid System */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
/* End Global Style */

/* ### Start Styling ### */

.head {
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
    font-size: 20px;
}
.head > p {
    line-height: 1.5;
}
.input {
    margin-top: 40px;
    position: relative;
}
@media (max-width: 768px) {
    .input {
        margin-top: 60px;
    }
}
.input > span {
    position: absolute;
    top: -35px;
    color: red;
    display: none;
}
.input .flash {
    animation: blink 2s infinite;
    -webkit-animation: blink 2s infinite;
}
input {
    background: #111;
    padding: 10px;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    margin: 0 0 10px;
    caret-color: #bbbbbb;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
    color: #fff
}
input::placeholder {
    color: #bbbbbb;
}
input:focus {
    background-color: #000;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.input .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
@media (min-width: 1200px) {
    .input .price {
        margin-bottom: 10px;
    }
}
.input .price input {
    flex-basis: 22%;
    margin: 0;
}
@media (max-width: 576px) {
    .input .price input {
        flex-basis: 45%;
    }
}
.input #total {
    background: #ff4500;
    padding: 10px;
    border-radius: 5px;
    min-width: 78px;
    position: relative;
}
@media (max-width: 1199px) {
    .input #total {
        margin-bottom: 10px;
    }
}
.input #total::before {
    content: "Total: ";
}
button {
    width: 100%;
    height: 40px;
    border: none;
    color: #fff;
    background: var(--main-color);
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    transition: var(--main-trans);
    -webkit-transition: var(--main-trans);
    -moz-transition: var(--main-trans);
    -ms-transition: var(--main-trans);
    -o-transition: var(--main-trans);
    overflow: hidden;
}
button::before {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    width: 0%;
    height: 100%;
    background-color: #680779;
    transition: var(--main-trans);
}
button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0%;
    height: 100%;
    background-color: #680779;
    transition: var(--main-trans);
}
button:hover::after,
button:hover::before    {
    width: 50%;
}
button span {
    position: relative;
    z-index: 4;
    transition: var(--main-trans);
}
button:hover span {
    letter-spacing: 2px;
}
button#submit {
    margin-bottom: 10px;
}
.btnSearch {
    display: flex;
    justify-content: space-between;
}
.btnSearch button{
    flex-basis: 45%;
}
@media (max-width: 576px) {
    .btnSearch button {
        font-size: 12px;
    }
}
.delete-all {
    margin: 30px 0;
    display: block;
}
table {
    width: 100%;
    text-align: center;
    margin: 0px auto 30px;
}
table th {
    text-transform: uppercase;
    padding-bottom: 10px !important;
}
table th,
table td {
    padding: 5px;
}
@media (max-width: 768px) {
    table button span{
        font-size: 12px;
    }
}
@media (min-width: 992px) {
    table button span{
        font-size: 15px;
    }
}
.table-output {
    overflow-x: auto;
}
/* ### End Styling ### */



/* For Animation */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


